In [18]:
import pandas as pd

df = pd.read_json('../Data/stockTicks.json', lines=True)

missing_percentage = (df['symbol'].isnull().sum() / len(df)) * 100
completeness_percentage = 100.0 - missing_percentage
print("Percentage of completeness in 'symbol': {:.2f}%".format(completeness_percentage))

missing_percentage = (df['date'].isnull().sum() / len(df)) * 100
completeness_percentage = 100.0 - missing_percentage
print("Percentage of completeness in 'date': {:.2f}%".format(completeness_percentage))

missing_percentage = (df['time'].isnull().sum() / len(df)) * 100
completeness_percentage = 100.0 - missing_percentage
print("Percentage of completeness in 'time': {:.2f}%".format(completeness_percentage))

missing_percentage = (df['price'].isnull().sum() / len(df)) * 100
completeness_percentage = 100.0 - missing_percentage
print("Percentage of completeness in 'price': {:.2f}%".format(completeness_percentage))

missing_percentage = (df['quantity'].isnull().sum() / len(df)) * 100
completeness_percentage = 100.0 - missing_percentage
print("Percentage of completeness in 'quantity': {:.2f}%".format(completeness_percentage))

missing_percentage = (df['buysell'].isnull().sum() / len(df)) * 100
completeness_percentage = 100.0 - missing_percentage
print("Percentage of completeness in 'buysell': {:.2f}%".format(completeness_percentage))

missing_percentage = (df['ordertype'].isnull().sum() / len(df)) * 100
completeness_percentage = 100.0 - missing_percentage
print("Percentage of completeness in 'ordertype': {:.2f}%".format(completeness_percentage))

missing_percentage = (df['ipaddr'].isnull().sum() / len(df)) * 100
completeness_percentage = 100.0 - missing_percentage
print("Percentage of completeness in 'ipaddr': {:.2f}%".format(completeness_percentage))

Percentage of completeness in 'symbol': 100.00%
Percentage of completeness in 'date': 100.00%
Percentage of completeness in 'time': 100.00%
Percentage of completeness in 'price': 98.20%
Percentage of completeness in 'quantity': 95.40%
Percentage of completeness in 'buysell': 96.40%
Percentage of completeness in 'ordertype': 100.00%
Percentage of completeness in 'ipaddr': 95.70%

In [24]:

unique_count = df['ipaddr'].nunique()
total_rows = len(df)
percentage_of_uniqueness = (unique_count / total_rows) * 100
print("Percentage of uniqueness in 'ipaddr': {:.2f}%".format(percentage_of_uniqueness))

unique_count = df['price'].nunique()
total_rows = len(df)
percentage_of_uniqueness = (unique_count / total_rows) * 100
print("Percentage of uniqueness in 'price': {:.2f}%".format(percentage_of_uniqueness))

unique_count = df['quantity'].nunique()
total_rows = len(df)
percentage_of_uniqueness = (unique_count / total_rows) * 100
print("Percentage of uniqueness in 'quantity': {:.2f}%".format(percentage_of_uniqueness))

Percentage of uniqueness in 'ipaddr': 95.70%
Percentage of uniqueness in 'price': 97.40%
Percentage of uniqueness in 'quantity': 91.00%

In [10]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder

numeric_columns = ['price', 'quantity']
numeric_df = df[numeric_columns]

# Perform KNN Imputation
imputer = KNNImputer(n_neighbors=5) 
numeric_imputed = imputer.fit_transform(numeric_df)

# Convert back to a DataFrame
numeric_df_imputed = pd.DataFrame(numeric_imputed, columns=numeric_columns)
df_final = pd.concat([df[categorical_columns].reset_index(drop=True), numeric_df_imputed.reset_index(drop=True)], axis=1)

# This is your final DataFrame with imputed numeric values and original categorical data
df_final

,symbol,date,time,buysell,ordertype,ipaddr,price,quantity
0,DDBI,2019-08-21,10:18:59,buy,market,19.31.125.107,26.3389,3338.6100
1,WBK,2019-08-04,10:01:20,buy,marketToLimit,150.149.50.141,46.3626,2892.6318
2,MFC,2019-08-01,16:59:48,buy,batch,70.90.252.88,19.7664,2343.3210
3,BXS,2019-08-13,10:29:11,buy,limit,233.20.220.85,28.8470,1563.0500
4,WFC.WS,2019-08-02,2:24:12,buy,marketToLimit,227.192.43.153,10.9050,2061.0277
...,...,...,...,...,...,...,...,...
995,EGAN,2019-08-10,23:18:36,buy,marketToLimit,124.91.193.180,25.2864,2161.5958
996,SKYW,2019-08-16,3:28:36,sell,limit,106.192.72.152,21.3486,3173.8172
997,ARE^D,2019-08-04,15:27:49,sell,marketToLimit,17.247.166.206,19.1049,2194.0268
998,RIV,2019-08-22,5:06:12,buy,cmo,245.145.177.227,3.0600,2072.6718
999,VSTO,2019-08-18,6:14:09,buy,batch,195.137.27.49,8.5644,1179.6681

In [13]:
numeric_columns = ['price', 'quantity']

rows_with_missing_data = df[df[numeric_columns].isna().any(axis=1)]

rows_with_missing_data[['price', 'quantity']]

       price   quantity
0        NaN  3338.6100
53       NaN  1667.2239
66   16.2680        NaN
68       NaN   588.3304
81   23.7744        NaN
..       ...        ...
909  21.8370        NaN
920  21.3060        NaN
923  27.3420        NaN
926  19.5546        NaN
940  18.4585        NaN

[64 rows x 2 columns]

In [16]:
missing_data_indices = df[df[numeric_columns].isna().any(axis=1)].index

df_final_rows_corresponding_to_missing = df_final.loc[missing_data_indices]

df_final_rows_corresponding_to_missing[['price', 'quantity']]

        price    quantity
0    26.33890  3338.61000
53   30.30720  1667.22390
66   16.26800  2129.36564
68   32.19774   588.33040
81   23.77440  2055.06980
..        ...         ...
909  21.83700  2054.16406
920  21.30600  2865.91608
923  27.34200  1317.02882
926  19.55460  1738.44426
940  18.45850  2572.54356

[64 rows x 2 columns]